h1 {
    background-color: rgb(153, 114, 86);
  color: rgb(13, 5, 5);
    padding: 10px;
    border-radius: 25px;
  font-size: 50px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2{
    text-align: center;
}

p {
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


img {
    border-radius: 25px;
    align-items: center ;
    display: block;
    margin: auto;
  width: 500px;
  height: 300px;
  opacity: 0.8;
    border: 2px solid rgb(226, 13, 13);
    padding: 10px;
    margin: 10px;
    
}
div {
    
    align-items: center ;
    justify-content: center;
    display: flex;

}
